.cuerpo{
    
    position: relative;
    text-align: center;
    
}

.agregar{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}

.eliminar{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 30px;   
}

.actualizar{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}

.leer{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}

.registrar{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}

.tabla{
    position: relative;
    text-align: center;
    
   
}